Package: com.superbro.frstickerpack
Name: Fr Sticker Pack
Version: 1.1
Architecture: iphoneos-arm
Description: iMessage Sticker Pack for Fr emotes
Maintainer: Superbro
Author: Superbro
Section: Sticker Pack
