Package: com.charliewhile.charliestickerpack
Name: Charlie Sticker Pack
Version: 1.0
Architecture: iphoneos-arm
Description: Cool iMessage stickers
Maintainer: Charlie While
Author: Charlie While
Section: Tweaks
