Package: com.amywhile.amystickerpackv2
Name: Amy Sticker Pack v2
Version: 1.1
Architecture: iphoneos-arm
Description: iMessage Stickers Mirroring my server
Maintainer: Amy While
Author: Amy While
Section: Sticker Pack
